**/target/
**/bin/
**/build/
**/out/
!.mvn/wrapper/maven-wrapper.jar

### Emacs ######
**/*~
**/*#
**/#*

### STS ###
.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache
**/.metadata

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr

### NetBeans ###
**/nbproject
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**/build/

**/LarkUDB/
**/derby.log

#misc
**/.attach*
**/.hprof
**/.metadata/
**/loginfofile
**/logs/

### VS Code ###
.vscode/

