<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="ttl.larku.service, ttl.larku.dao.*"/>

    <!--
    <bean id="studentService" class="ttl.StudentService">
        <property name="studentDAO" ref="studentDAO" />
    </bean>
    -->


    <bean id="studentDAO1" class="ttl.larku.dao.inmemory.InMemoryStudentDAO"/>

    <bean id="studentDAO2" class="ttl.larku.dao.jpahibernate.JpaStudentDAO"/>


    <bean id="courseService" class="ttl.larku.service.CourseService" autowire="byType">
    </bean>

    <bean id="courseDAO" class="ttl.larku.dao.inmemory.InMemoryCourseDAO"/>

    <!-- Post Processing Example -->
    <bean id="postProcBean" class="ttl.larku.postproc.TestService"/>
    <bean class="ttl.larku.postproc.OurPostProc"/>

</beans>
